
/* Informações do Aluno */

.info-aluno {
    border: 1px solid #000;
    margin-bottom: 2rem;
    display: grid;
}

.info-item {
    margin: 10px;
}

.info-img-container{
    display: flex;
    justify-content: center;
}

.info-img {
    max-width: 75%;
    max-height: 75%;
    border-radius: 50%;
}

.btn_aluno {
    margin: 0.5rem;
    color: white;
    border-style: none;
    border-radius: 5px;
    background-color:#03A65A;
    width: 100%;
    height: 3rem;
}

.btn_aluno:hover {
    background-color:#44b927;
}

/* Títulos da Página*/

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 15px;
  }

.ver-mais a {
    color: #1E4DD9;
}

.ver-mais a:hover {
    color: #000;
}

/* Últimas Leituras */

.ultimas-leituras {
    display: flex;
}
  
.card {
    width: 18rem;
    margin-right: 15px;
    margin-bottom: 10px;
    transition: all 0.3s ease-out;
    padding: 0;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.cardLivros img {
    width: 100%;
    height: 15em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cardLivros p {
    font-weight: bold;
    text-align: center;
}

/* Avaliação */

.rating{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/* Responsividade */

@media screen and (max-width: 991px) {
    .info-details{
        display: none;
    }
}